

img{
    height: 380px;
    /* width: 450px; */
    border-radius: 25px;
    mix-blend-mode: darken;
}
#content{
   
    /* background-color: aquamarine; */
    padding: 10px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 62px;
    font-weight: 400;
    color: #45281e;
    width: 800px;
    text-align: center;
    margin: 20px;
}
h4{
    font-weight: 200;
    color: #45281e;
    width: 400px;
    text-align: center;
    margin: 15px;
}